<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org" xmnls:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:insert="fragments/head :: head(title ='SalEGG Force')"></head>

<body>

    <nav th:insert="fragments/nav :: nav"></nav>

    <div class="container-all main-content justify-content-center">        
        <section class="form-signin ALI ">

            <img class="centrado img-responsive" src="../../img/banner6.png">

            <div class="container">
                <div class="row align-items-center">

                    <h1 class="my-5 text-center fuente"
                        th:text="${'Completa tus datos para contactar a un asesor y adquirir tu ' + producto.modelo}">
                    </h1>
                    <div class=" text-center">

                        <div>
                            <div th:if="${exito}!=null" class="alert alert-success fuente" role="alert">
                                <h3 th:text="${exito}"></h3>
                            </div>
                            <div th:if="${error}!=null" class="alert alert-danger fuente" role="alert">
                                <p th:text="${error}"></p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <img th:src="${'/fotos/fotoproducto/' +producto.id}" alt="" width="800">
                            <img th:src="${'/fichastecnicas/fichatecnicaproducto/' + producto.id}" alt="">
                        </div>

                        <div class="my-5">                        

                            <form th:action="@{/clientes/formulario/__${producto.id}__}" method="POST"
                                th:object="${cliente}" enctype="multipart/form-data">

                                <br />

                                <div class="input-group">
                                    <div class="input-group-prepend w-25">
                                        <label class="input-group-text">Nombre</label>
                                    </div>
                                    <input type="text" class="form-control" name="nombre" th:value="${nombre}"
                                        placeholder="Nombre" required autofocus />
                                </div>

                                <br />

                                <div class="input-group">
                                    <div class="input-group-prepend w-25">
                                        <label class="input-group-text">Apellido</label>
                                    </div>
                                    <input type="text" class="form-control" name="apellido" th:value="${apellido}"
                                        placeholder="Apellido" required autofocus />
                                </div>

                                <br />

                                <div class="input-group">
                                    <div class="input-group-prepend w-25">
                                        <label class="input-group-text">Mail</label>
                                    </div>
                                    <input type="email" class="form-control" name="mail" th:value="${mail}"
                                        placeholder="Mail" required autofocus />
                                </div>

                                <br />

                                <div class="input-group">
                                    <div class="input-group-prepend w-25">
                                        <label class="input-group-text">Telefono</label>
                                    </div>
                                    <input type="number" class="form-control" name="telefono" th:value="${telefono}"
                                        placeholder="Telefono" required autofocus />
                                </div>

                                <br />

                                <div class="input-group">
                                    <div class="input-group-prepend w-25">
                                        <label class="input-group-text">Disponibilidad</label>
                                    </div>
                                    <select name="horarioContacto" th:value="${horarioContacto}" id="horarioContacto"
                                        class="custom-select w-75">
                                        <option value="TURNO1">8:00 a 12:00 hs.</option>
                                        <option value="TURNO2">12:00 a 16:00 hs.</option>
                                        <option value="TURNO3">16:00 a 20:00 hs.</option>
                                    </select>
                                </div>

                                <div hidden class="input-group">
                                    <div class="input-group-prepend w-25">
                                        <label class="input-group-text">Marca</label>
                                    </div>
                                    <input type="text" class="form-control" name="marca"
                                        th:value="${producto.marca.nombre}" placeholder="Modelo" required autofocus
                                        readonly />
                                </div>

                                <br />

                                <div hidden class="input-group">
                                    <div class="input-group-prepend w-25">
                                        <label class="input-group-text">Modelo</label>
                                    </div>
                                    <input type="text" class="form-control" name="modelo" th:value="${producto.modelo}"
                                        placeholder="Modelo" required autofocus readonly />
                                </div>

                                <br />

                                <br /><a th:href="@{/}" class="btn btn-secondary mx-3">Volver</a>

                                <button a th:href="@{/clientes/formulario/__${producto.id}__}" type="submit"
                                    class="btn btn-dark mx-3"
                                    th:if="${session.empleadosession == null}">Contactar</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer th:insert=" fragments/footer :: footer">
    </footer>
    <script th:replace="fragments/boostjs :: script"></script>

</body>

</html>